{% extends 'base.html' %}

{% block title %}Inicio - Cat&Dog{% endblock %}

{% block content %}
  <h2>Bienvenido a Cat&Dog</h2>

  <table class="tabla-c-inicio">
    <thead>
      <tr>
        <th>Fecha y Hora</th>
        <th>Comuna</th>
        <th>Sector</th>
        <th>Cantidad, Tipo y Edad</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>22/08/2025 14:30</td>
        <td>Santiago</td>
        <td>Centro</td>
        <td>1 gato 1 año</td>
        <td><img class="img-tabla" src="{{ url_for('static', filename='img/1_gato_naranjo.jpg') }}" alt="Gato naranjo"></td>
      </tr>
      <tr>
        <td>22/08/2025 14:25</td>
        <td>Ñuñoa</td>
        <td>Plaza</td>
        <td>1 gato 3 meses</td>
        <td><img class="img-tabla" src="{{ url_for('static', filename='img/1_gatito_negro.jpg') }}" alt="Gatito negro"></td>
      </tr>
      <tr>
        <td>22/08/2025 14:10</td>
        <td>Estación Central</td>
        <td>Sur</td>
        <td>2 perros 4 meses</td>
        <td><img class="img-tabla" src="{{ url_for('static', filename='img/2_perritos_1.jpg') }}" alt="Perritos"></td>
      </tr>
      <tr>
        <td>22/08/2025 14:00</td>
        <td>Quinta Normal</td>
        <td>Parque</td>
        <td>1 perro 6 meses</td>
        <td><img class="img-tabla" src="{{ url_for('static', filename='img/perrito_1.jpg') }}" alt="Perrito"></td>
      </tr>
      <tr>
        <td>22/08/2025 13:38</td>
        <td>Independencia</td>
        <td>Norte</td>
        <td>1 perro 2 años</td>
        <td><img class="img-tabla" src="{{ url_for('static', filename='img/perro_1.jpg') }}" alt="Perro"></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
