{% extends 'base.html' %}

{% block title %}Todos los avisos - Cat&Dog{% endblock %}

{% block content %}
  <h1>Todos los avisos</h1>

  {% if avisos | length == 0 %}
        <p class="no-avisos">No hay avisos disponibles.</p>
    {% else %}
        <table class ="tabla-c-avisos">
            <thead>
                <tr>
                    <th>Fecha de Publicación</th>
                    <th>Fecha de Entrega</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad, Tipo y Edad</th>
                    <th>Nombre y Contacto</th>
                    <th>Total fotos</th>
                </tr>
            </thead>
            <tbody>
                {% for aviso in avisos %}
                  <tr class="clickable-row" data-url="{{ url_for('ver_aviso', aviso_id=aviso.id) }}">

                    <td>{{ aviso.fecha_ingreso.strftime('%d/%m/%Y %H:%M') }}</td>
                    <td>{{ aviso.fecha_entrega.strftime('%d/%m/%Y %H:%M') }}</td>
                    <td>{{ aviso.comuna.nombre }}</td>
                    <td>{{ aviso.sector or 'Sin definir'}}</td>
                    <td>{{ aviso.cantidad }} {{ aviso.tipo }}(s) de {{ aviso.edad }} {{ 'años' if aviso.unidad_medida == 'a' else 'meses' }}</td>
                    <td>
                      {% if aviso.contactos and aviso.contactos|length > 0 %}
                        {{ aviso.nombre }}<br>
                        {{ aviso.contactos[0].nombre }}: {{ aviso.contactos[0].identificador }}
                      {% elif aviso.celular %}
                        {{ aviso.nombre }}<br>
                        {{ aviso.celular }}
                      {% else %}
                        {{ aviso.nombre }}<br>
                        Sin contacto
                      {% endif %}
                    </td>
                    <td>
                      {% for foto in aviso.fotos %}
                        <img class="img-tabla" src="{{ url_for('static', filename=foto.ruta_archivo) }}" alt="{{ foto.nombre_archivo }}">
                      {% endfor %}
                    </td>
                  </tr>

                {% endfor %}
            </tbody>
        </table>
        <!-- PAGINACIÓN -->
        {% if pagination.pages > 1 %}
          <div class="pagination">
            {% if pagination.has_prev %}
              <a href="{{ url_for('see_post', page=1) }}">&laquo; Primera</a>
              <a href="{{ url_for('see_post', page=pagination.prev_num) }}">Anterior</a>
            {% else %}
              <span class="disabled">&laquo; Primera</span>
              <span class="disabled">Anterior</span>
            {% endif %}

            <span>Página {{ pagination.page }} de {{ pagination.pages }}</span>

            {% if pagination.has_next %}
              <a href="{{ url_for('see_post', page=pagination.next_num) }}">Siguiente</a>
              <a href="{{ url_for('see_post', page=pagination.pages) }}">Última &raquo;</a>
            {% else %}
              <span class="disabled">Siguiente</span>
              <span class="disabled">Última &raquo;</span>
            {% endif %}
          </div>
        {% endif %}
    {% endif %}

{% endblock %}
{% block script %}
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.clickable-row').forEach(row => {
          row.addEventListener('click', () => {
            const destino = row.dataset.url;
            if (destino) {
              window.location.href = destino;
            }
          });
        });
      });
</script>
{% endblock %}